{namespace g.soy.device.BlockText}



/**
 * @param context
 * @param id
 */
{template .main}
  {let $self: $context[$id] /}
  {let $tagName: $self.tagName ?: 'div' /}
  <{$tagName} {call g.soy.common.attribute data="all" /}>
    {$self.text}
  </{$tagName}>
{/template}


