{namespace g.device.StaticText.soy}



/**
 * @param context
 * @param id
 */
{template .main}
  {let $self: $context[$id] /}
  <span {call g.common.soy.attribute data="all" /}'>
    {$self.text}
  </span>
{/template}

