
.goog-toolbar
  outline: none

.goog-toolbar-button,
.goog-toolbar-menu-button,
.goog-toolbar-toggle-button
  @extends .btn, .btn-link
  &:hover
    @extends .btn-default

// To strengthen selector
.goog-toolbar-button-checked.goog-toolbar-button-checked,
.goog-toolbar-menu-button.goog-toolbar-menu-button-open
  @extends .btn-default
  @extends .btn-default:hover

.goog-toolbar-menu-button-dropdown
  @extends .caret

.goog-toolbar-menu-button-disabled
  @extends .btn.disabled

.goog-toolbar-button-checked
  @extends .btn.active

.goog-toolbar-vertical
  .goog-toolbar-button,
  .goog-toolbar-menu-button,
  .goog-toolbar-toggle-button,
  .goog-toolbar-separator
    display: block;

.goog-toolbar-separator
  background: #ccc
.goog-toolbar-horizontal .goog-toolbar-separator
  width: 1px;
  margin: 0 .4em
.goog-toolbar-vertical .goog-toolbar-separator
  height: 1px;
  margin: .4em .8em

