body {
  margin: 50px;
}



.g-document .g-buttonset {
  margin-top: .8em;
  margin-bottom: .8em;
}

.g-fields-wrap > div {
  margin-top: .8em;
  margin-bottom: .8em;
}

.g-fields-wrap > div > div:nth-child(1) {
  padding-right: .8em;
  box-sizing: border-box;
}

