body {
  margin: 50px;
}



.g-document .g-buttonset {
  margin-top: .8em;
  margin-bottom: .8em;
}

.g-fields-wrap > div {
  margin-top: .8em;
  margin-bottom: .8em;
}

.g-fields-wrap > div > div:nth-child(1) {
  padding-right: .8em;
  box-sizing: border-box;
}







/* Default size for splitpane */
.goog-splitpane {
  height: 200px;
  width: 300px;
}

.goog-splitpane-handle {
  background-color: #EBEFF9;
  position: absolute;
}

.goog-splitpane-handle-horizontal {
  cursor: col-resize;
}

.goog-splitpane-handle-vertical {
  cursor: row-resize;
}

.goog-splitpane-first-container,
.goog-splitpane-second-container {
  border: 1px solid #6B90DA;
  overflow: auto;
  position: absolute;
}




.goog-splitpane-handle-vertical {
  text-align: center;
}
.goog-splitpane-handle-btnwrap {
  display: inline-block;
}
.goog-splitpane-handle-btn {
  display: inline-block;
}
.goog-splitpane-handle-vertical .goog-splitpane-handle-btn {
  height: 100%;
  width: 30px;
  overflow: hidden;
  text-indent: -9999px;
  vertical-align: top;
}
.goog-splitpane-handle-btn-topleft {
  background-color: blue;
}
.goog-splitpane-handle-btn-bottomright {
  background-color: red;
}


.goog-splitpane-handle-horizontal {
  position: relative;
}
.goog-splitpane-handle-horizontal::before {
  content: " ";
  display: inline-block;
  height: 100%;
  width: 1%;
  vertical-align: middle;
}
.goog-splitpane-handle-horizontal .goog-splitpane-handle-btn {
  /* text-indent: -9999px; */
}
.goog-splitpane-handle-horizontal .goog-splitpane-handle-btnwrap {
  display: inline-block;
  vertical-align: middle;
  width: 99%;
  margin: 0;
  background: black;
}



.pure-menu {
  position: absolute;
}
