/**
 * @license
 * Copyright (c) 2012 Soichi Takamura (http://stakam.net/)
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */
.goog-list
  overflow: auto

.goog-list-item
  height: 30px
  line-height: 30px

.goog-list-item:nth-child(odd)
  background-color: #EBEFF9

.goog-list-item:hover
  background-color: #1340C8
  color: white
