{namespace zoy.primitive.device.InputDatePicker.soy}

/**
 * @param context
 * @param id
 */
{template .main}
  {let $self: $context[$id] /}
  <input {call zoy.common.soy.attribute data="all"}
           {param classNames: ['form-control'] /}
         {/call}
         {if $self.placeholder} placeholder="{$self.placeholder}"{/if}
         {if $self.value} value="{$self.value}"{/if}
  />
{/template}
