{namespace zoy.primitive.device.InputDatePicker.soy}

/**
 * @param context
 * @param id
 */
{template .main}
  {let $self: $context[$id] /}
  <input {call zoy.common.soy.attribute data="all" /}' />
{/template}
