{namespace zoy.primitive.device.MenuButton.soy}



/**
 * @param context
 * @param id
 */
{template .main}
  {let $self: $context[$id] /}
  {let $buttonType: $self.buttonType?:'default' /}
  <div {call zoy.common.soy.attribute data="all"}
         {param classNames: ['btn', 'btn-' + $buttonType] /}
       {/call}
  >
    {$self.text}
  </div>
{/template}
