{namespace zoy.primitive.device.MenuButton.soy}



/**
 * @param context
 * @param id
 */
{template .main}
  {let $self: $context[$id] /}
  {let $buttonType: $self.buttonType?:'default' /}
  <div class="btn btn-{$buttonType} btn-sm" {call zoy.common.soy.attribute data="all" /}'>
    {$self.text}
  </div>
{/template}
