body
  margin: 50px

.zoy-document .zoy-buttonset
  margin-top: .8em
  margin-bottom: .8em

.zoy-fields-wrap > div
  margin-top: .8em
  margin-bottom: .8em

.zoy-fields-wrap > div > div:nth-child(1)
  // padding-right: .8em
  // box-sizing: border-box

.zoy-fields-wrap .goog-list
  border: 1px solid #6b90da

// .pure-menu
//   position: absolute
// 
// .pure-button
//   font-size: 85%
