body
  margin: 50px

.zoy-document .zoy-buttonset
  margin-top: .8em
  margin-bottom: .8em

.zoy-fields-wrap > div
  margin-top: .8em
  margin-bottom: .8em

.zoy-fields-wrap > div > div:nth-child(1)
  // padding-right: .8em
  // box-sizing: border-box

.zoy-fields-wrap .goog-list
  border: 1px solid #6b90da




/* view-source:http://closure-library.googlecode.com/git-history/0148f7ecaa1be5b645fabe7338b9579ed2f951c8/closure/goog/demos/toolbar.html */
/*
 * Sample toolbar styles.
 */

// /* Base class for all icon elements. */
// .icon {
//   height: 16px;
//   width: 16px;
//   background-image: url(../images/toolbar_icons.gif);
//   background-repeat: no-repeat;
//   vertical-align: middle;
// }
// 
// /* Font select. */
// .goog-edit-font .goog-toolbar-menu-button-caption {
//   color: #246;
//   width: 15ex;
// }
// 
// /* Font select options. */
// .goog-edit-font-normal {
//   font-family: Arial, sans-serif;
// }
// .goog-edit-font-times {
//   font-family: Times, serif;
// }
// .goog-edit-font-courier {
//   font-family: "Courier New", Courier, monospace;
// }
// .goog-edit-font-georgia {
//   font-family: Georgia, serif;
// }
// .goog-edit-font-trebuchet {
//   font-family: "Trebuchet MS", sans-serif;
// }
// .goog-edit-font-verdana {
//   font-family: Verdana, sans-serif;
// }
// 
// /* Font size. */
// .goog-edit-font-size .goog-toolbar-menu-button-caption {
//   color: #246;
//   width: 5ex;
// }
// 
// /* Bold. */
// .goog-edit-bold {
//   background-position: 0;
// }
// 
// /* Italic. */
// .goog-edit-italic {
//   background-position: -16px;
// }
// 
// /* Underline. */
// .goog-edit-underline {
//   background-position: -32px;
// }
// 
// /* Color. */
// .goog-edit-color {
//   background-position: -48px;
// }
// 
// /* Background color. */
// .goog-edit-background {
//   background-position: -64px;
// }
// 
// /* Menu buttons. */
// .goog-edit-style,
// .goog-edit-insert,
// .goog-edit-link,
// .goog-edit-spellcheck {
//   font-weight: bold;
//   color: #246;
// }
// 
// /* Link. */
// .goog-edit-link {
//   color: #009;
//   text-decoration: underline;
// }
// 
// /* Insert menu. */
// .goog-edit-insert-icon {
//   background-position: -80px;
//   vertical-align: bottom;
// }
// .goog-edit-insert-caption {
//   padding: 0 2px;
//   vertical-align: bottom;
// }
// 
// /* List style menu. */
// .goog-edit-list-style {
//   background-position: -96px;
// }
// 
// /* Text alignment buttons. */
// .goog-edit-align-left {
//   background-position: -128px;
// }
// .goog-edit-align-center {
//   background-position: -144px;
// }
// .goog-edit-align-right {
//   background-position: -160px;
// }
// 
