
{namespace zoy.primitive.container.Container.soy}


/**
 * @param context
 * @param id
 */
{template .main}
  {let $self: $context[$id] /}
  <div {call zoy.common.soy.attribute data="all" /}>
    {call zoy.common.soy.appendChildren data="all" /}
  </div>
{/template}
