
{namespace g.soy.container.Container}


/**
 * @param context
 * @param id
 */
{template .main}
  {let $self: $context[$id] /}
  <div {call g.soy.common.attribute data="all" /}
       {if $self.className} class="{$self.className}"{/if}
  >
    {call g.soy.common.appendChildren data="all" /}
  </div>
{/template}
