// stylesheets
@require 'goog/common'

// Bootstrap
$grid-gutter-width = 16px
$link-color = #2575ed
$component-active-bg = #2575ed
@require "bower_components/bootstrap-stylus/stylus/variables"
@require "bower_components/bootstrap-stylus/stylus/mixins"
@require "bower_components/bootstrap-stylus/stylus/normalize"
@require "bower_components/bootstrap-stylus/stylus/print"
@require "bower_components/bootstrap-stylus/stylus/glyphicons"
@require "bower_components/bootstrap-stylus/stylus/scaffolding"
@require "bower_components/bootstrap-stylus/stylus/utilities"
@require "bower_components/bootstrap-stylus/stylus/type"
@require "bower_components/bootstrap-stylus/stylus/code"
@require "bower_components/bootstrap-stylus/stylus/grid"
@require "bower_components/bootstrap-stylus/stylus/tables"
@require "bower_components/bootstrap-stylus/stylus/forms"
@require "bower_components/bootstrap-stylus/stylus/buttons"

$light-blue-bg = #EAF1FB

// TODO:
@require 'style'

// zoy
@require 'primitive/ui/Menu'
@require 'primitive/iterator/List'
@require 'primitive/container/SplitContainer'
@require 'primitive/container/TabContainer'
@require 'primitive/container/SnapSplitContainer'
@require 'primitive/device/InputDatePicker'
@require 'primitive/device/Toolbar'
