
.zoy-snapsplitcontainer

  .goog-splitpane-handle-btnwrap
    display: inline-block

  .goog-splitpane-handle-btn
    display: inline-block

  .goog-splitpane-handle-vertical .goog-splitpane-handle-btn
    height: 100%
    width: 30px
    overflow: hidden
    text-indent: -9999px
    vertical-align: top

  .goog-splitpane-handle-btn-topleft
    background-color: blue

  .goog-splitpane-handle-btn-bottomright
    background-color: red

  .goog-splitpane-handle-horizontal .goog-splitpane-handle-btn
    cursor: pointer
    width: 100%
    height: 30px
    vertical-align: bottom
    /* text-indent: -9999px; */

  .goog-splitpane-handle-horizontal .goog-splitpane-handle-btnwrap
    display: inline-block
    vertical-align: middle
    width: 99%
    margin: 0
