
.zoy-snapsplitcontainer__handle-btnwrap
  display: inline-block

.zoy-snapsplitcontainer__handle-btn
  display: inline-block
  font-size: 64%
  cursor: pointer
  &:hover
    background-color: $component-active-bg
    color: white

.goog-splitpane-handle-vertical
  .zoy-snapsplitcontainer__handle-btn
    height: 100%
    width: 30px
    overflow: hidden
    vertical-align: top

  .zoy-snapsplitcontainer__handle-btn-topleft
    @extends .glyphicon, .glyphicon-chevron-up

  .zoy-snapsplitcontainer__handle-btn-bottomright
    @extends .glyphicon, .glyphicon-chevron-down

.goog-splitpane-handle-horizontal
  .zoy-snapsplitcontainer__handle-btn
    width: 100%
    height: 30px
    line-height: 30px
    vertical-align: bottom

  .zoy-snapsplitcontainer__handle-btnwrap
    display: inline-block
    vertical-align: middle
    width: 99.1%
    margin: 0

  .zoy-snapsplitcontainer__handle-btn-topleft
    @extends .glyphicon, .glyphicon-chevron-left

  .zoy-snapsplitcontainer__handle-btn-bottomright
    @extends .glyphicon, .glyphicon-chevron-right
