
@require "bower_components/bootstrap-stylus/stylus/dropdowns"

.goog-menu
  @extends .dropdown-menu
  display inherit

.goog-menuitem,
.goog-option
  @extends .dropdown-menu > li > a
  cursor: pointer

.goog-menuseparator
  @extends .dropdown-menu .divider

.goog-menu-button-dropdown
  @extends .caret

.goog-menuitem-disabled
  @extends .dropdown-menu > .disabled > a
