
@import "bower_components/bootstrap-stylus/stylus/dropdowns"

.goog-menu
  @extends .dropdown-menu
  display inherit
.goog-menuitem .goog-menuitem-content
  @extends .dropdown-menu > li > a
  cursor: pointer
.goog-menuseparator
  @extends .dropdown-menu > li > a
.goog-menu-button-dropdown
  @extends .caret

